
#root {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden ;
    text-align:center;
}

input {
    padding: 12px;
    background-color: rgb(190, 190, 190);
    border-radius: 12px;
    border: none;
}

form button {
    padding: 16px;
    background-color: rgb(231, 231, 231);
    border-radius: 12px;
    border: none;
}

main {
    padding: 24px;
    border-radius: 16px;
    min-height: 100vh;
    position: relative;
}
