.cards{
    align-items: center;
    display: flex;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    background-color: gray;
    height: auto;
    padding: 10px;
    margin: 0px 10px;
    text-align: center;
}

.cards:hover .card{
    filter: blur(10px);
}

.cards .card:hover{
    filter: blur(0px);
}